<fieldset>
  <section id="entity_type">
    <div class="control-group form-group row">
      <%= form.label :entity_type, :class => "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= form.select :entity_type, possible_options_for("entity_type"), {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="control-group form-group row">
      <%= form.label :bioghist, :class => "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= form.text_area :bioghist, :class => "form-control" %>
      </div>
    </div>
  </section>
  <%#= render :partial => "subrecord_form", :locals => {:form => form, :name => "names"} %>
  <!-- subrecord_form 'name' -->
  <section id="entity_name" class="subrecord-form" data-subrecord-form="true" data-object-name="name">
    <h3 class="subrecord-form-heading">
      <span class="subrecord-form-heading-label">Names</span>
    </h3>
    <%= form.fields_for :names do |name_form| %>
      <div class="control-group form-group row">
        <%= name_form.label :name, :class => "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= name_form.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="control-group form-group row">
        <%= name_form.label :form, :class => "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= name_form.select :form, possible_options_for("name_form"), {}, {:class => "form-control"} %>
        </div>
      </div>
    <% end %>
  </section>
  <!-- end subrecord_form -->
  <section id="administrative_details">
    <h3 class="subrecord-form-heading">
      <span class="subrecord-form-heading-label">Administrative Details</span>
    </h3>
    <div class="control-group form-group row">
      <%= form.label :legal_status, :class => "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= form.text_field :legal_status, :class => "form-control" %>
      </div>
    </div>
    <div class="control-group form-group row">
      <%= form.label :cataloging_level, :class => "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= form.select :cataloging_level, possible_options_for("cataloging_level"), {}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="control-group form-group row">
      <%= form.label :record_status, :class => "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= form.select :record_status, possible_options_for("record_status"), {}, {:class => "form-control"} %>
      </div>
    </div>
  </section>
</fieldset>
