<%= render "shared/flash_messages" %>

<%= form_for @entity, :url => {:action => :update}, :html => {:class => "form-horizontal"} do |form| %>
  <h2>Edit <%= @entity.authorized_name %></h2>
  <%= render :partial => "form", :locals => {:form => form} %>
  <div class="form-actions">
    <%= form.submit 'Save', :class => "btn btn-sm btn-primary" %>
    <%= link_to "Delete", {:controller => :entities, :action => :destroy, :id => @entity.id}, :class => "btn btn-sm btn-danger" %>
    <%= link_to "Cancel", {:controller => :entities, :action => :show, :id => params[:id]}, :class => "btn btn-sm btn-cancel btn-default" %>
  </div>
<% end %>
