<% variant_forms = @entity.names.select{|e| e.form != "authorized"} %>

<%= render "shared/flash_messages" %>

<h2><%= @entity.authorized_name %></h2>

<% unless @entity.names.select{|e| e['form'] != "authorized"}.empty? %>
  <p class="variant-forms">
    <% variant_forms.each_with_index do |name, idx| %>
      <span><%= name.name %></span>
      <span class="badge badge-info"><%= name.form %></span>
      <% if idx != variant_forms.size - 1 %>
        <br />
      <% end %>
    <% end %>
  </p>
<% end %>

<h3 id="bioghist">
  <% if @entity.entity_type == "person" %>Biography
  <% else %>History
  <% end %>
</h3>
<p><%= @entity.bioghist %></p>

<h3 id="relationships">Relationships</h3>
<% if @entity.relationships_from %>
  <% @entity.relationships_from.each do |rlshp| %>
    <div class="entity-relationship">
      <h4><%= rlshp.relationship_type %></h4>
      <p class="relationship-description"><%= rlshp.description %></p>
    </div>
  <% end %>
<% end %>
<% if @entity.relationships_to %>
  <% @entity.relationships_to.each do |rlshp| %>
    <div class="entity-relationship">
      <h4><%= rlshp.relationship_type %></h4>
      <p class="relationship-description"><%= rlshp.description %></p>
    </div>
  <% end %>
<% end %>

<!-- probably should separate this out into a partial, eventually -->
<div id="accordion">
  <div class="card">
    <div class="card-header" id="admin-heading">
      <h4 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#admin-details" aria-expanded="false" aria-controls="admin-details">Administrative Details</button>
      </h4>
    </div>
    <div id="admin-details" class="collapse panel-collapse" aria-labelledby="admin-heading">
      <div class="card-body">
        <% if @entity.legal_status %>
          <p><strong>legal status</strong> <%= @entity.legal_status %></p>
        <% end %>
        <p><strong>record status</strong> <%= @entity.record_status %></p>
        <p><strong>cataloging level</strong> <%= @entity.cataloging_level %></p>
        <p><strong>cataloging language</strong> <%= @entity.cataloging_language %></p>
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
  <div class="form-actions">
    <%= link_to "Edit", {:controller => :entities, :action => :edit, :id => @entity.id}, :class => "btn btn-sm btn-primary" %>
    <%= button_to "Delete", {:controller => :entities, :action => :delete, :id => @entity.id}, :method => :delete, :class => "btn btn-sm btn-danger" %>
  </div>
<% end %>
