<!DOCTYPE html>
<html>
  <head>
    <title>Ogallala</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cola-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="site-title">
            <a href="/">Ogallala</a>
          </div>
          <!-- Not actually using the menu right now so I'm commenting it out -->
          <!--
          <div class="navbar-collapse collapse" id="cola-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/about">About</a></li>
              <li class="active"><a href="/contributors">Contributors</a></li>
              <li class="active"><a href="/search">Search</a></li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
