<!DOCTYPE html>
<html>
  <head>
    <title>Ogallala</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-fixed-top">
      <div class="container">
        <div class="site-title">
          <a href="/">Ogallala</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ogallalaNavbarMenu" aria-controls="ogallalaNavbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-header">
          <div class="collapse navbar-collapse" id="ogallalaNavbarMenu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://github.com/jackflaps/ogallala">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
